<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error laboriosam eaque aperiam maxime?
                    Maxime,
                    corporis nisi necessitatibus nihil alias perspiciatis sint. Quaerat ex autem cum dolorem quas
                    mollitia
                    enim
                    debitis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi minima, vero quas illo ipsum nobis
                    suscipit voluptatem quae! Sit voluptatum culpa consequatur non nulla nam eius vitae sint natus
                    blanditiis.
                </p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium consequatur quibusdam voluptate
                    odit
                    beatae. Ex quia, iusto harum aut repellat saepe ab vitae, necessitatibus exercitationem aliquid non!
                    Quasi,
                    veniam doloribus!</p>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>